<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', path='/url/css/429.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for ('static', path='/url/Images/fav-icon.png')}}">
    <title>Scissor</title>
</head>

<body>

    <main>
        <div class="error">
            <h1>429</h1>
            <h2>Too Many Request</h2>
            <h3>Try again in 10 seconds</h3>
            <div class="error-button">
                <a href="">Let us refresh</a>
            </div>

        </div>

    </main>

</body>