<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', path='/url/css/qr_codes.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for ('static', path='/url/Images/fav-icon.png')}}">
    <title>Scissor</title>
</head>

<body>

    <main>
        <div class="user-dashboard">
            <div class="user-dashboard-left">
                <ul>
                    <li><a href="/"><img src="{{ url_for ('static', path='/url/Images/Logo.png')}}" alt="Logo"
                                class="logo"></a></li>
                    <li><a href="/dashboard/user">Home</a></li>
                    <li> <a href="/url/create">Create new</a></li>
                    <li><a href="/url/my_urls">Links</a></li>
                    <li><a href="/qrcode/qr">QR Codes</a></li>
                    <li><a href="/auth/logout">Logout</a></li>

                </ul>
            </div>
            <div class="user-dashboard-right">
                <div class="full-qr-code-container">
                    <div class="single-qr-code-header">
                        <h1>
                            <span>QR Codes</span>
                        </h1>
                        <a href="/url/create">Click here to generate QRCode</a>
                    </div>


                    {% for url in urls %}
                    <div class="single-qr-code-info-container">
                        <div class="single-qr-code-info-container-left">
                            <img src="{{url.qrcode}}" alt="qr code">
                        </div>

                        <div class="single-qr-code-info-container-center">
                            <div class="single-link-info-container-center-top">
                                <h3>{{ url.title }}</h3>

                                {% if url.custom_alias %}
                                <p><a target="_blank" href="https://scissor-y0gc.onrender.com/{{ url.custom_alias}}"
                                        id="Link">https://scissor-y0gc.onrender.com/{{ url.custom_alias}} </a></p>
                                {% else %}
                                <p><a target="_blank" href="https://scissor-y0gc.onrender.com/{{ url.short_url}}"
                                        id="Link">https://scissor-y0gc.onrender.com/{{ url.short_url }}</a></p>
                                {% endif %}

                                <p>{{ url.original_url }}</p>
                            </div>
                            <div class="single-qr-code-info-container-center-bottom">
                                <div class="single-qr-code-date">
                                    <img src="{{ url_for ('static', path='/url/Images/date-icon.png')}}" alt="calender">
                                    <p>{{ url.date_time_created }}</p>
                                </div>
                                <div class="single-qr-code-analytics">
                                    <img src="{{ url_for ('static', path='/url/Images/eye-icon.png')}}" alt="analytics">
                                    <p>{{ url.clicks }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-qr-code-info-container-right">
                            <div class="single-qr-code-info-container-right-items">
                                <a download="QR-CODE.png" href="{{url.qrcode}}">Download</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        </div>

    </main>
</body>